<template name="grouped">
  <div class="full-page">
  	<div class="row center-align">
      <div class="col s12 m4">
        <div class="row center-align">
        {{#if group.length}}
          <h5 class="force-legend blue white-text z-depth-1">
            {{capitalize category}} ({{group.length}})
          </h5>
        {{else}}
          <h5 class="force-legend blue white-text z-depth-1">
            {{capitalize category}}
          </h5>
        {{/if}}
          <div class="collection force-list">
            {{#each group}}
              <a href="#!" class="collection-item">{{name}}</a>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="col s12 m8 force-group">
          <ul class="tabs">
            <li class="tab col s3" id="occupation"><a href="">Occupation</a></li>
            <li class="tab col s3" id="gender"><a href="">Gender</a></li>
            <li class="tab col s3" id="status"><a href="">Status</a></li>
            <li class="tab col s3"><a href="">Group 4</a></li>
          </ul>
        <div id="group-force"></div>
      </div>
  	</div>
  </div>
</template>
