<template name="map">
  <div class="full-page">
    <div class="container">
      <h2 class="center-align" style="padding-top:2rem;">Locations</h2>

      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3"><a href="">All</a></li>
            <li class="tab col s3"><a href="">Group 1</a></li>
            <li class="tab col s3"><a href="">Group 2</a></li>
            <li class="tab col s3"><a href="">Group 3</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="homepage-concentration-map" id="concentration-map"></div>
  </div>
</template>
